* {
    background-color: rgb(56, 54, 54);

}

.userinput {
    margin-left: 16vw;
    position: fixed;
    /* top: 90vh; */
    bottom: 2vh;
    background-color: #333;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
}

.searchbar {
    color: white;
    width: 65vw;
    height: 8vh;
    font-size: 3.5vh;
    border-radius: 1.75vh;
    background-color: #444;
    padding: 1rem;

}

.searchbutton {
    height: 8vh;
    width: 5vw;
    font-size: 3.5vh;
    border-radius: 1.75vh;
    padding: 1.4vh;
    border: none;
    margin-bottom: 3vh;

    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    /* bottom: 0px; */
}

.searchlogo {
    /* margin-left: 5px; */
    height: 5vh;
    width: 3vw;
}

.wtrmrk {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    color: rgba(128, 119, 119, 0.3);
    pointer-events: none;
    z-index: 9999;
}

.nowtrmrk {
    display: none;
}

.usr {
    text-align: left;
    margin-left: 5px;
}

.userquery {
    color: white;
    display: flex;
    padding: 20px 200px 20px 220px;

    font-size: 25px;
}

.userlogo {
    width: 25px;
}

.chatbox {
    margin-top: 15px;
    flex: 1;
    height: 77vh;
    overflow-y : auto;
    scroll-behavior: auto;
}


.yes {
    display: flex;
    padding: 20px 200px 20px 220px;
    background-color: rgb(123, 112, 112);

}

.botlogo {
    width: 25px;
}

.no {
    display: none;
}

.thinker {
    margin-left: 5px;
    font-size: 25px;
    background-color: rgb(123, 112, 112);
    color: white;
}

.userquery,
.userlogo,
.usr,
.iptlogo {
    background-color: rgb(124, 133, 142);
}

@media screen and (max-width:425px){
    .chatbox{
        margin-top: 9px;
        height: 70vh;
    }
    .userquery{
        padding-left: 4vw;
        padding-right: 2vw;
    }
    .usr{
        text-align: left;
    }
    .yes{
        padding-left: 4vw;
        padding-right: 2vw;
    }
    .searchlogo{
        width: 30px;
        
    }
    .searchbar{
        padding-left: 5px;
        padding-right: 3px;
    }
}

@media screen and (max-width:768px){
    .usr{
        text-align: left;
    }
    .userquery{
        padding-left: 7vw;
        padding-right: 2vw;
    }
    .yes{
        padding-left: 7vw;
        padding-right: 2vw;
    }
    .searchlogo{
        width: 40px;
        height: 40px;
    }
}